body{
    margin: 0px;
}
.hero-section{
    width: 100%;
    height: 42.75rem;
    background-image: url('/src/assets/picture/farmerLooking.jpg');
    background-color:rgb(45, 45, 45);
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;}
.hero-box{
    width: 60rem;
    height: 2rem;
    padding: 10rem 0 0 8rem;
}
.hero-box p{
    color: white;
    font-size: 4rem;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 1.25rem;
}
.hero-box button{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    color: white;
    padding: 1.25rem 1.75rem 1.25rem 1.75rem;
    margin-left: 1rem;
    background-color: #06C755;
    border: none;
    border-radius: 4rem;
    text-shadow:black 2px 2px 10px;

}


.knowMore-section{
    width: 100%;
    height: 41.75rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.knowMore-head{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
}
.cardComponent{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.leftCard{
    height: 26.25rem;
    width: 26.25rem;
    background-color: #06C755;
}
.rightCard{
    height: 26.25rem;
    width: 26.25rem;
    background-color: #06C755;
}