
.Portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 20px;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}


.Leftzone-portfolio {
  flex: 1;
}


.Rightzone-portfolio {
  flex: 1;
}

.User-pro {
  width: 70%;
  margin: 0;
  height: auto;
}

.user-port{
  text-align: center;
}

.port-text {
  font-size: 24px;
  margin: 10px 0;   
  color: white;
}

.port-text1 {
  font-size: 18px;
  margin-bottom: 20px;
}

.history-bar {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
}

.historyhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#History {
  font-size: 24px;
}

#Cert-button {
  padding: 8px 16px;
  background-color: #0ede2d;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.historybox {
  display: flex;
  height: 40vh;
  overflow-y: auto;
  flex-direction: column;
  gap: 10px;
}

.historybox-inner {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
}

.historylist-1 {
  font-size: 18px;
  margin-bottom: 5px;
}

.historylist-2 {
  font-size: 14px;
  color: #666;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination1 {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  color: #007bff;
  padding: 5px 8px;
}

.pagination a.active {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .Portfolio {  
    justify-content: center;
  }

  .Leftzone-portfolio,
  .Rightzone-portfolio {
    flex: none;
    width: 100%;
  }

}
