@media screen and (min-width: 850px) {
    .Portfolio {
      overflow: hidden;
      display: flex;
    }
    .Leftzone-portfolio {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45vw;
      height: 100vh;
      top: 0;
      left: 0px;
      flex-flow: column;
    }

    .Leftzone-portfolio img{
        width: 80%;
        margin-bottom: 0;
    }
  
    .Rightzone-portfolio {
      position: absolute;
      display: flex;
      padding-top: 10rem;
      align-items: center;
      width: 55vw;
      height: 100vh;
      right: 0px;
  
      flex-flow: column;
      overflow-y: scroll;
    }
  
    .port-text {
        width: 30rem;
        color: white;
        font-size: 2rem;
        padding-bottom: 1rem;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
    }

    .port-text img{
        width: 2.5rem;
        height: 2.5rem;
        background-size: cover;
    }
  
    .port-text1 {
      color: white;
      font-size: 30px;
      display: flex;
      align-items: center;
      flex-flow: column;
      margin-top: 0;
      margin-bottom: 4rem;
    }
  
    #CO2-num {
      font-size: 8rem;
      padding-bottom: 0px;
      margin-bottom: 0;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 500;
      margin-top: 2rem;
    }
  
    .history-bar {
      background-color: white;
      width: clamp(200px, 50vw,600px);
      display: flex;
      flex-direction: column;
      padding: 20px 5px 0 20px;
      border-radius: 20px;
    }
  
    .historyhead {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0rem;
    }
  
    #History {
      margin-left: 1rem;
      font-family: "Josefin Sans", sans-serif;
      font-size: 2.5rem;
      font-weight: 500;
    }
  
    #Cert-button {
      margin-right: 2rem;
      width: 40%;
      height: 4rem;
      font-family: "Josefin Sans", sans-serif;
      font-size: 2rem;
      font-weight: 400;
    }
  
    .historybox {
      padding-right: 1rem;
      padding-bottom: 2rem;
    }
  
    .historybox-inner p {
      font-size: 24px;
    }
  
    .historybox-inner {
      display: flex;
      justify-content: space-between;
      border: 3px solid rgb(255, 255, 255);
      background-color: #eeeeee;
      border-radius: 1rem;
      margin-bottom: 0.7rem;
      color: #222222;
      padding: 0 1rem 0 1rem;
    }
  
    .history-bar h1 {
      font-size: 30px;
    }
  
    .history-bar button {
      font-size: 1.5rem;
      border: none;
      border-radius: 0.625rem;
      color: white;
      background-color: #06c755;
      height: 2.8rem;
      width: 8.375rem;
      font-weight: bold;
      cursor: pointer;
    }
  
    .history-bar button:hover {
      color: rgb(77, 45, 45);
    }
  
    .pagination {
      display: flex;
      justify-content:space-between;
      width: 100%;
      padding: 0rem 1rem 2rem 1rem;
      margin-top: 0;
    }
  
    .pagination a {
      color: black;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      transition: background-color 0.3s;
      border-radius: 50%;
    }
  
    .pagination a.active {
      background-color: #06c755;
      color: white;
    }
  
    .pagination a:hover:not(.active) {
      background-color: #ddd;
    }
  
    .pagination a:hover {
      background-color: rgb(147, 202, 91);
    }
  }
  