.qr-purchase {
    text-align: center;
    background-color: white;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qr-purchase{
    font-family: Kanit;
}
.qr-purchase h2{
    margin: 0;
}
.qr-purchase main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qr-purchase header {
    margin-bottom: 50px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.qr-purchase header .v-divider {
    border: 1px solid gray;
    height: 40px;
}
.qr-purchase header h1 {
    font-family: 'Josefin Sans', sans-serif;
}
