.qrPage{
    width: 100vw;
    height: 100vh;
}
p{
    color: white;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 0 0 0;
    font-weight: 300;
}
h1{
    color: white;
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    margin: 1rem 0 3rem 0;
}

.qrPage-container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left-side-qr-profile-information{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 0 5rem;
}
.business-name-section{
    text-align: center;
}
.business-type-section{
    text-align: center;
}
.business-activity-carbonemission{
    text-align: center;
}
.right-side-qr-profile-qrcode{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem 0 0;
}
.qr-section{
    width: 400px;
    height: 400px;
    background-color: white;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.download-qr-button{
    width: 13rem;
    height: 5rem;
    border-radius: 10px;
    border: none;
    background-color: #06C755;
    color: white;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
}
.qr{
    width: 100%;
    height: 100%;
}